@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/dracula.css";

.CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like {
    padding: 0 15px;
}

body, html {
    font-size: 16px;
}
.tinker .CodeMirror {
    height: 100%;
}
.btn {
	@apply rounded-md px-3 py-2 text-sm transition duration-200;
}
